## Importing Library and Read CSV File

In [2]:
import pandas as pd
import numpy as np
data = pd.read_csv('./Material/owid-covid-data.csv')

## Handle missing values in total_cases, new_cases, and total_deaths

In [12]:
for col in ['total_cases', 'new_cases', 'total_deaths']:
    data[col] = data[col].fillna(0)
    print(data[col].head())
    print(data[col].tail())

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: total_cases, dtype: float64
429430    266386.0
429431    266386.0
429432    266386.0
429433    266386.0
429434    266386.0
Name: total_cases, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: new_cases, dtype: float64
429430    0.0
429431    0.0
429432    0.0
429433    0.0
429434    0.0
Name: new_cases, dtype: float64
0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
Name: total_deaths, dtype: float64
429430    5740.0
429431    5740.0
429432    5740.0
429433    5740.0
429434    5740.0
Name: total_deaths, dtype: float64

## Convert date column to datetime format and extract year/month

In [13]:
data['date'] = pd.to_datetime(data['date'])
data['year'] = data['date'].dt.year
data['month'] = data['date'].dt.month
data[['date', 'year', 'month']].head()

        date  year  month
0 2020-01-05  2020      1
1 2020-01-06  2020      1
2 2020-01-07  2020      1
3 2020-01-08  2020      1
4 2020-01-09  2020      1